<script>
  import RandomButton from "../components/RandomButton.svelte";
  import { onMount } from "svelte";

  onMount(() => {
    document.querySelector("span > *").click();
  });
</script>

<style>
  .wrapper {
    max-width: 30ch;
    margin: 0 auto;
    padding: var(--gap-lg);
  }
</style>

<svelte:head>
  <title>Wave</title>
</svelte:head>

<div class="wrapper">
  <span>
    <RandomButton style="button">Go surf</RandomButton>
  </span>
</div>
