<script>
  import Nav from "../components/Nav.svelte";
  import TotalWaves from "../components/TotalWaves.svelte";

  export let segment;
</script>

<style>
  .container {
    min-height: calc(100vh - var(--border-width-chunky) * 2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: var(--border-width-chunky);
    margin: var(--border-width-chunky);
  }
  main {
    background: var(--color-background);
    position: relative;
    z-index: 2;
    box-shadow: 0 0 0 var(--border-width-chunky) var(--color-brand);
  }
  footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
    font-size: var(--font-size-sm);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-variation-settings: "MONO" 0, "CASL" 0, "CRSV" 1;
    font-style: oblique 0deg;
    font-weight: var(--font-weight-light);
    padding: var(--gap);
    background: var(--color-background);
  }
</style>

<div class="container">

  <Nav {segment} />

  <main>
    <slot />
  </main>
  <footer>
    <span>
      Curated and built by
      <a href="https://superallan.com/" rel="noreferrer" target="_blank">
        Allan Corbett
      </a>
      •
      <a href="https://twitter.com/superallan" rel="noreferrer" target="_blank">
        Feedback?
      </a>

    </span>
    <span>
      <a href="/submit">
        There are
        <TotalWaves />
        videos on Swell - submit more!
      </a>
    </span>
  </footer>
</div>
