<script>
  import { onMount } from "svelte";
  import RandomButton from "../components/RandomButton.svelte";
  import TotalWaves from "../components/TotalWaves.svelte";

  onMount(() => {
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  });
</script>

<style>
  .wrapper {
    margin: 0 auto;
    max-width: 56ch;
    padding: var(--gap);
  }
  h2 {
    margin-top: var(--space-2);
  }
</style>

<svelte:head>
  <title>Swell - Carefully curated, never boring</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js">

  </script>
</svelte:head>
<div class="wrapper">
  <h1>
    Videos picked by
    <em>humans</em>
    for
    <em>humans</em>
  </h1>
  <p>
    Swell lets you discover content you’d normally not find. Humans submit
    videos they love, Swell curates them, you watch them in a random order. No
    one is given preference, if you don’t like it,
    <RandomButton style="link">surf</RandomButton>
    again - the next video may just be your new favourite thing.
  </p>
  <p>
    Swell doesn't track you, all videos are embedded using
    <a
      target="_blank"
      rel="noreferrer"
      href="https://www.ghacks.net/2018/05/23/why-you-should-always-use-youtubes-privacy-enhanced-mode/">
      enhanced privacy mode.
    </a>
    Each time you hit
    <RandomButton style="link">surf</RandomButton>
    you're served a random video our community have submitted - sit back and
    enjoy.
  </p>
  <RandomButton style="button">go surf</RandomButton>
  <h2>We need you!</h2>
  <p>
    <a href="submit">Submit the wonderful, unusual and interesting videos</a>
    that bring you joy and give them the spotlight they deserve.
  </p>
</div>
