<style>
  .wrapper {
    margin: 0 auto;
    padding: var(--gap);
    max-width: 56ch;
  }
  a.submit {
    color: var(--color-background);
    background-color: var(--color-brand);
    padding: var(--gap);
    font-weight: var(--font-weight-bold);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--space-5);
    margin: 0 var(--border-width-chunky);
    border: var(--border-width-chunky) solid var(--color-border);
  }
  a.submit:hover,
  a.submit:focus {
    color: var(--color-brand);
    background-color: var(--color-background);
    padding: var(--gap);
    font-weight: var(--font-weight-bold);
  }
  .sm {
    font-size: var(--font-size-sm);
    line-height: var(--line-height);
  }
</style>

<svelte:head>
  <title>Submit a link to Swell</title>
</svelte:head>
<div class="wrapper">

  <h1>Submit</h1>

  <p>Submit an interesting, important or just plain great video.</p>
  <p>
    All submissions are curated by hand so it may take some time to get things
    up and running.
  </p>
  <p>
    By emailing a link we can all avoid pesky tracking and keep things nice and
    private.
  </p>
  <p>
    <a
      class="submit"
      href="mailto:swell-submission@corbett.fyi?subject=Swell%20Submission&body=%F0%9F%8C%8A%F0%9F%8C%8A%F0%9F%8C%8A%0A%0AHere's%20a%20link%3A%0A%0A%0AHere's%20some%20context%3A%0A%0A%0A%0A%0A---%0A%0AThanks!%0A%F0%9F%8C%8A%F0%9F%8C%8A%F0%9F%8C%8A">
      Submit via email
    </a>
  </p>
  <p class="sm">
    Clicking the button above will open your mail app and prefill the address
    with
    <a href="mailto:swell-submission@corbett.fyi">
      swell-submission@corbett.fyi
    </a>
    and a template for you to fill out.
  </p>
</div>
