<script context="module">
  export async function preload({ params, query }) {
    const res = await this.fetch(`_posts/${params.slug}.md`);
    if (res.status === 200) {
      return { postMd: await res.text() };
    }
    if (res.status === 404) {
      return this.redirect(302, "404");
    }
    this.error(404, "Not found");
  }
</script>

<script>
  import { onMount } from "svelte";
  import fm from "front-matter";
  import MarkdownIt from "markdown-it";
  export let postMd;
  const md = new MarkdownIt();
  $: frontMatter = fm(postMd);
  $: post = {
    ...frontMatter.attributes
  };

  import RandomButton from "../../components/RandomButton.svelte";
  import AboutBox from "../../components/AboutBox.svelte";
  let embed = null;
  let tweet = "false";
  function embedder() {
    let trimmed;
    let youtubeBefore =
      '<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/';
    let youtubeAfter =
      '?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
    let twitterBefore =
      '<blockquote class="twitter-tweet"><a href="https://publish.twitter.com/oembed?url=';
    let twitterAfter = '">&nbsp;</a></blockquote>';
    let media = post.media;
    if (media.includes("https://www.youtube.com/watch?v=")) {
      trimmed = media.replace("https://www.youtube.com/watch?v=", "");
      embed = youtubeBefore + trimmed + youtubeAfter;
    }
    if (media.includes("https://youtu.be/")) {
      trimmed = media.replace("https://youtu.be/", "");
      embed = youtubeBefore + trimmed + youtubeAfter;
    }
    if (media.includes("https://twitter.com/")) {
      tweet = "true";
      embed = twitterBefore + media + twitterAfter;
      document
        .querySelector(".media-inner")
        .setAttribute("class", "tweet-inner");
    } else {
      console.log("error");
    }
  }

  onMount(() => {
    document
      .querySelectorAll(".context a")
      .forEach(x => x.setAttribute("target", "_blank"));
    document
      .querySelectorAll(".context a")
      .forEach(x => x.setAttribute("rel", "noreferrer"));
    embedder();
  });
</script>

<style>
  .wrapper {
    padding: var(--gap);
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(12, 1fr);
  }
  h1 {
    margin: 0;
    padding: var(--gap);
    background-color: var(--color-brand);
    color: var(--color-text);
  }
  h1,
  .media,
  .context {
    grid-column: 1 / -1;
  }
  @media (min-width: 800px) {
    .wrapper {
      grid-template-columns: repeat(9, 1fr);
    }
    .media {
      grid-column: 1 / -1;
      position: relative;
    }
    h1 {
      grid-column: 1 / -1;
    }
    .context {
      grid-column: 2 / -2;
    }
  }
  @media (min-width: 1200px) {
    .wrapper {
      grid-template-columns: 5fr 3fr;
      grid-template-rows: auto 1fr;
    }
    .media {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      position: relative;
    }
    h1 {
      grid-column: 2 / 3;
      margin: 0;
    }
    .context {
      grid-column: 2 / 3;
    }
  }
  .context {
    overflow: auto;
  }
  .media-inner {
    position: sticky;
    top: calc(var(--gap) * 3 + var(--space-3) + var(--border-width-chunky) * 2);
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .media-inner > :global(*) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  :global(.tweet-inner) {
    display: flex;
    justify-content: center;
  }
  :global(blockquote.twitter-tweet) {
    background: 0;
    padding: 0;
    margin: 0;
  }
</style>

<svelte:head>
  <title>Swell - {post.title}</title>
  <meta name="title" content="Swell - {post.title}" />
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://surfswell.xyz/" />
  <meta property="og:title" content="Swell - {post.title}" />
  <meta property="og:description" content={md.render(post.context)} />
  <meta property="og:image" content="https://surfswell.xyz/swell-preview.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://surfswell.xyz/" />
  <meta property="twitter:title" content="Swell - {post.title}" />
  <meta property="twitter:description" content={md.render(post.context)} />
  <meta
    property="twitter:image"
    content="https://surfswell.xyz/swell-preview.png" />

</svelte:head>
<div class="wrapper">
  <div class="media">
    <div class="media-inner">
      {#if embed}
        {@html embed}
        {#if tweet === 'true'}
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8">

          </script>
        {/if}
      {/if}
    </div>
  </div>
  <h1>{post.title}</h1>
  <div class="context">
    {@html md.render(post.context)}
    <AboutBox />
  </div>
</div>
