<script context="module">
  export function preload({ params, query }) {
    return this.fetch(`wave.json`)
      .then(r => r.json())
      .then(posts => {
        return { posts };
      });
  }
</script>

<script>
  export let posts;
  import RandomButton from "../../components/RandomButton.svelte";
  import { onMount } from "svelte";

  onMount(() => {
    document.querySelector("span > *").click();
  });
</script>

<style>
  .wrapper {
    max-width: 30ch;
    margin: 0 auto;
    padding: var(--gap-lg);
  }
  ul {
    display: none;
  }
</style>

<svelte:head>
  <title>wave</title>
</svelte:head>

<div class="wrapper">
  <span>
    <RandomButton style="button">Go surf</RandomButton>
  </span>
  <ul>
    {#each posts as post}
      <li>
        <a href="wave/{post.slug}">{post.title}</a>
      </li>
    {/each}
  </ul>

</div>
