<script>
  import RandomButton from "./RandomButton.svelte";
</script>

<style>
  .wrapper {
    padding: var(--gap);
    border: var(--border-width-chunky) solid var(--color-text);
  }
  .sm {
    font-size: var(--font-size-xs);
    line-height: var(--line-height);
  }
  .last {
    margin-bottom: 0;
  }
</style>

<div class="wrapper">
  <h6>
    Videos picked by
    <em>humans</em>
    for
    <em>humans</em>
  </h6>
  <div class="sm">
    <p>
      Swell lets you discover content you’d normally not find. Humans submit
      videos they love, Swell curates them, you watch them in a random order. No
      one is given preference, if you don’t like it,
      <RandomButton style="link">surf</RandomButton>
      again - the next video may just be your new favourite thing.
    </p>
    <p>
      Swell doesn't track you, all videos are embedded using
      <a
        target="_blank"
        href="https://www.ghacks.net/2018/05/23/why-you-should-always-use-youtubes-privacy-enhanced-mode/">
        enhanced privacy mode.
      </a>
      Each time you hit
      <RandomButton style="link">surf</RandomButton>
      you're served a random video our community have submitted - sit back and
      enjoy.
    </p>
    <p class="last">
      <a href="submit">Submit the wonderful, unusual and interesting videos</a>
      that bring you joy and give them the spotlight they deserve.
    </p>
  </div>
</div>
