<style>
  @keyframes tri {
    0% {
      transform: rotateX(-90deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotateX(90deg);
      opacity: 0;
    }
  }
  div {
    position: relative;
  }

  svg {
    position: absolute;
    transform: rotateX(-90deg);
    transform-origin: center bottom;
    animation: tri 1500ms linear infinite;
    perspective: 1000;
    fill: none;
    stroke: var(--color-brand);
  }
  svg:nth-child(3n + 1) {
    animation-delay: 0;
  }
  svg:nth-child(3n + 2) {
    animation-delay: 300ms;
  }
  svg:nth-child(3n + 3) {
    animation-delay: 600ms;
  }
</style>

<div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88.33 76.5">
    <polygon points="44.17 1 0.87 76 87.47 76 44.17 1" />
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88.33 76.5">
    <polygon points="44.17 1 0.87 76 87.47 76 44.17 1" />
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88.33 76.5">
    <polygon points="44.17 1 0.87 76 87.47 76 44.17 1" />
  </svg>
</div>
