<style>
  svg {
    height: var(--space-3);
  }
  path {
    fill: var(--color-brand);
  }
</style>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 237.6 65.79">
  <path
    d="M21.51,54.36a5.21,5.21,0,0,1-1.62,3.91A6.66,6.66,0,0,1,15.48,60a1.83,1.83,0,0,0-.36,1q0,1.17,1.62,1.17a6.9,6.9,0,0,0,5.18-2.48A8.12,8.12,0,0,0,24.21,54a7.2,7.2,0,0,0-2.52-5.81q-2.52-2.1-8.73-3.55Q1.17,41.94,1.17,33.12q0-7,6.8-11.12t18.4-4.09q9.54,0,14.85,2.92T46.53,29a6.78,6.78,0,0,1-2.79,5.71c-1.86,1.42-4.44,2.12-7.74,2.12a13.87,13.87,0,0,1-7.92-2.07A6.27,6.27,0,0,1,25,29.34a5.27,5.27,0,0,1,1.62-3.92,6.76,6.76,0,0,1,4.41-1.75,1.83,1.83,0,0,0,.36-1q0-1.17-1.62-1.17A6.94,6.94,0,0,0,24.62,24a8.19,8.19,0,0,0-2.3,5.72,7,7,0,0,0,2.75,5.85q2.73,2.16,9.13,3.51,7.56,1.53,10.8,4.27a9.67,9.67,0,0,1,3.24,7.79A12,12,0,0,1,41.9,62q-6.34,3.78-18.23,3.78-10.8,0-17.23-3.06T0,54.63A6.65,6.65,0,0,1,2.84,49a12.78,12.78,0,0,1,7.69-2.07A13.87,13.87,0,0,1,18.45,49,6.27,6.27,0,0,1,21.51,54.36Z" />
  <path
    d="M101.07,27.18a13,13,0,0,0-2.25-4.68,4.47,4.47,0,0,1-.81-1,1.79,1.79,0,0,1-.18-.81v-.81q0-.9,1.08-.9h23.67q3.24,0,3.24,2.34,0,3.24-3.11,13.55t-7.06,20.2a37.2,37.2,0,0,1-3.11,6.66,6,6,0,0,1-2.69,2.38,12.61,12.61,0,0,1-4.46.59H94.86A8.89,8.89,0,0,1,90,63.54a7.37,7.37,0,0,1-2.83-3.78,7.55,7.55,0,0,1-2.88,3.74,9,9,0,0,1-5,1.21H68.85a8.84,8.84,0,0,1-4.77-1,7.11,7.11,0,0,1-2.61-3.73L49.59,26.82a6.92,6.92,0,0,0-1.48-2.52,14.68,14.68,0,0,0-2.84-2.16q-.9-.54-.9-1.17V19.89q0-.9,1.08-.9H56.79a31.67,31.67,0,0,1,9,1,8.7,8.7,0,0,1,4.59,3.28,26.67,26.67,0,0,1,3.2,6.93l8.64,26.1a1.47,1.47,0,0,0,1.08.45q1.35,0,1.35-1.53a11.57,11.57,0,0,0-.72-3l-8.19-25a13,13,0,0,0-2.25-4.68,4.47,4.47,0,0,1-.81-1,1.79,1.79,0,0,1-.18-.81v-.81q0-.9,1.08-.9h8.46a31.67,31.67,0,0,1,9,1,8.7,8.7,0,0,1,4.59,3.28,26.67,26.67,0,0,1,3.2,6.93l8.64,26.1a1.47,1.47,0,0,0,1.08.45q1.35,0,1.35-1.53a11.57,11.57,0,0,0-.72-3Z" />
  <path
    d="M145.62,43.92q0,2.07,3.51,3.83A17.26,17.26,0,0,0,157,49.5a18.55,18.55,0,0,0,14-5.76,5.33,5.33,0,0,1,.76-.68,1.49,1.49,0,0,1,.68-.13h1.08a.86.86,0,0,1,.85.45A4,4,0,0,1,174.6,45a18.83,18.83,0,0,1-3,10.31,21.8,21.8,0,0,1-8.55,7.6,26.38,26.38,0,0,1-12.37,2.88,28.61,28.61,0,0,1-13.14-3,23.27,23.27,0,0,1-9.32-8.46,22.94,22.94,0,0,1-3.46-12.51A23.5,23.5,0,0,1,128,29.52,22.53,22.53,0,0,1,137.2,21a29.89,29.89,0,0,1,14-3.11A29.45,29.45,0,0,1,162,19.8a17.75,17.75,0,0,1,7.61,5.4,12.65,12.65,0,0,1,2.79,8.1A12.49,12.49,0,0,1,168.21,43,15.36,15.36,0,0,1,157.5,46.8,13.77,13.77,0,0,1,147,42.48a1.3,1.3,0,0,0-.95.4A1.41,1.41,0,0,0,145.62,43.92Zm2.7-6.21a1.71,1.71,0,0,0,1.44.72q1.62,0,1.62-1.8V23.85q0-1.8-1.62-1.8a1.71,1.71,0,0,0-1.44.72Z" />
  <path
    d="M177,11.07a10.38,10.38,0,0,0-.9-4.82,8.71,8.71,0,0,0-3.33-3.1,2.18,2.18,0,0,1-.77-.59A1.08,1.08,0,0,1,171.9,2V.9q0-.9,1.08-.9h23.76a3.37,3.37,0,0,1,2.38.67,3,3,0,0,1,.68,2.21V51.12a5.28,5.28,0,0,0,.27,2.07.93.93,0,0,0,.9.54,1.14,1.14,0,0,0,1.12-.63,12.42,12.42,0,0,0,.68-2.88,6.81,6.81,0,0,1,.36-1.84.76.76,0,0,1,.72-.32h1.53a.79.79,0,0,1,.76.63,7.14,7.14,0,0,1,.23,2.16q0,7.2-3.87,11.07t-11.07,3.87q-6.93,0-10.67-3.91T177,50.67Z" />
  <path
    d="M208.26,11.07a10.38,10.38,0,0,0-.9-4.82A8.71,8.71,0,0,0,204,3.15a2.18,2.18,0,0,1-.77-.59,1.08,1.08,0,0,1-.13-.58V.9q0-.9,1.08-.9H228a3.37,3.37,0,0,1,2.38.67A3,3,0,0,1,231,2.88V51.12a5.28,5.28,0,0,0,.27,2.07.93.93,0,0,0,.9.54,1.14,1.14,0,0,0,1.12-.63,12.42,12.42,0,0,0,.68-2.88,6.81,6.81,0,0,1,.36-1.84.76.76,0,0,1,.72-.32h1.53a.79.79,0,0,1,.76.63,7.14,7.14,0,0,1,.23,2.16q0,7.2-3.87,11.07t-11.07,3.87q-6.93,0-10.67-3.91t-3.73-11.21Z" />
</svg>
