<script>
  import Logo from "./Logo.svelte";
  import RandomButton from "./RandomButton.svelte";
  export let segment;
</script>

<style>
  nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-weight: var(--font-weight-bold);
    text-transform: lowercase;
    background: var(--color-background);
    position: sticky;
    top: var(--border-width-chunky);
    z-index: 100;
    box-shadow: 0 0 0 var(--border-width-chunky) var(--color-brand);
    height: calc(var(--gap) * 2 + var(--space-3));
  }

  .logo {
    display: flex;
    padding: var(--gap);
  }
  .logo a {
    display: flex;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  li {
    display: flex;
    align-items: stretch;
  }

  [aria-current] {
    color: var(--color-background);
    background-color: var(--color-brand);
  }
  [aria-current] > :global(span) {
    color: var(--color-background);
    background-color: var(--color-brand);
  }

  ul a {
    display: flex;
    align-items: center;
    padding: var(--gap-sm) var(--gap);
  }
</style>

<nav>
  <div class="logo">
    <a href="." aria-label="Swell">
      <Logo />
    </a>
  </div>
  <ul>
    <!-- <li>
      <a aria-current={segment === undefined ? 'page' : undefined} href=".">
        home
      </a>
    </li> -->
    <li aria-current={segment === 'wave' ? 'page' : undefined}>
      <RandomButton style="nav">Go surf</RandomButton>
    </li>
    <li>
      <a aria-current={segment === 'submit' ? 'page' : undefined} href="submit">
        submit
      </a>
    </li>

    <!-- for the blog link, we're using rel=prefetch so that Sapper prefetches
		     the blog data when we hover over the link or tap it on a touchscreen -->
    <!-- <li>
      <a
        rel="prefetch"
        aria-current={segment === 'wave' ? 'page' : undefined}
        href="wave">
        waves
      </a>
    </li> -->
  </ul>
</nav>
