<script>
  export let style = undefined;
  $: style = undefined ? "button" | "btn-full-width" | "link" | "nav" : style;
  let wave;
  function go() {
    fetch("wave.json")
      .then(response => response.json())
      .then(data => {
        wave = data[Math.floor(Math.random() * data.length)];
      })
      .then(wave => {
        changeUrl();
      })
      .catch(err => {
        console.log("error!");
      });
  }
  function changeUrl() {
    window.location.href = "/wave/" + wave.slug;
  }
</script>

<style>
  span {
    user-select: none;
    cursor: pointer;
  }
  [data-style="button"] {
    color: var(--color-background);
    background-color: var(--color-brand);
    padding: var(--gap);
    font-weight: var(--font-weight-bold);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 var(--border-width-chunky);
    border: var(--border-width-chunky) solid var(--color-border);
    border-radius: var(--space-5);
  }
  [data-style="button"]:hover,
  [data-style="button"]:focus {
    color: var(--color-brand);
    background-color: var(--color-background);
    padding: var(--gap);
    font-weight: var(--font-weight-bold);
    border-radius: var(--space-5);
  }
  [data-style="link"] {
    color: var(--color-link);
    text-decoration: none;
    font-variation-settings: "CASL" 0, "CRSV" 0;
  }

  [data-style="link"]:hover,
  [data-style="link"]:focus {
    text-decoration: underline;
  }
  [data-style="nav"] {
    color: var(--color-link);
    display: flex;
    align-items: center;
    padding: var(--gap-sm) var(--gap);
  }
  [data-style="nav"]:hover,
  [data-style="nav"]:focus {
    text-decoration: underline;
  }
</style>

<span data-style={style} on:click={go}>
  <slot>Surf</slot>
</span>
