@import url("fonts/fonts.css");

:root {
  --min-width: 320;
  --max-width: 2000;
  --min-size: 16;
  --max-size: 22;
  --min-ratio: 1.125;
  --max-ratio: 1.3;

  --screen: 100vw;
  --bp: calc(
    (var(--screen) - ((var(--min-width) / 16) * 1rem)) /
      ((var(--max-width) / 16) - (var(--min-width) / 16))
  );
}

@media screen and (max-width: 320px) {
  :root {
    --screen: calc(var(--min-width) * 1px);
  }
}

@media screen and (min-width: 2000px) {
  :root {
    --screen: calc(var(--max-width) * 1px);
  }
}

:root {
  --max-negative: (1 / var(--max-ratio) / var(--max-ratio));
  --min-negative: (1 / var(--min-ratio) / var(--min-ratio));

  --min-scale--2: var(--min-scale--1) * var(--min-ratio) * var(--min-negative);
  --max-scale--2: var(--max-scale--1) * var(--max-ratio) * var(--max-negative);
  --min-size--2: (var(--min-size) * var(--min-scale--2)) / 16;
  --max-size--2: (var(--max-size) * var(--max-scale--2)) / 16;
  --step--2: calc(
    (
      (var(--min-size--2) * 1rem) + (var(--max-size--2) - var(--min-size--2)) *
        var(--bp)
    )
  );

  --min-scale--1: var(--min-ratio) * var(--min-negative);
  --max-scale--1: var(--max-ratio) * var(--max-negative);
  --min-size--1: (var(--min-size) * var(--min-scale--1)) / 16;
  --max-size--1: (var(--max-size) * var(--max-scale--1)) / 16;
  --step--1: calc(
    (
      (var(--min-size--1) * 1rem) + (var(--max-size--1) - var(--min-size--1)) *
        var(--bp)
    )
  );

  --min-scale-0: var(--min-ratio);
  --max-scale-0: var(--max-ratio);
  --min-size-0: (var(--min-size)) / 16;
  --max-size-0: (var(--max-size)) / 16;
  --step-0: calc(
    (
      (var(--min-size-0) * 1rem) + (var(--max-size-0) - var(--min-size-0)) *
        var(--bp)
    )
  );

  --min-scale-1: var(--min-scale-0) * var(--min-ratio);
  --max-scale-1: var(--max-scale-0) * var(--max-ratio);
  --min-size-1: (var(--min-size) * var(--min-scale-0)) / 16;
  --max-size-1: (var(--max-size) * var(--max-scale-0)) / 16;
  --step-1: calc(
    (
      (var(--min-size-1) * 1rem) + (var(--max-size-1) - var(--min-size-1)) *
        var(--bp)
    )
  );

  --min-scale-2: var(--min-scale-1) * var(--min-ratio);
  --max-scale-2: var(--max-scale-1) * var(--max-ratio);
  --min-size-2: (var(--min-size) * var(--min-scale-1)) / 16;
  --max-size-2: (var(--max-size) * var(--max-scale-1)) / 16;
  --step-2: calc(
    (
      (var(--min-size-2) * 1rem) + (var(--max-size-2) - var(--min-size-2)) *
        var(--bp)
    )
  );

  --min-scale-3: var(--min-scale-2) * var(--min-ratio);
  --max-scale-3: var(--max-scale-2) * var(--max-ratio);
  --min-size-3: (var(--min-size) * var(--min-scale-2)) / 16;
  --max-size-3: (var(--max-size) * var(--max-scale-2)) / 16;
  --step-3: calc(
    (
      (var(--min-size-3) * 1rem) + (var(--max-size-3) - var(--min-size-3)) *
        var(--bp)
    )
  );

  --min-scale-4: var(--min-scale-3) * var(--min-ratio);
  --max-scale-4: var(--max-scale-3) * var(--max-ratio);
  --min-size-4: (var(--min-size) * var(--min-scale-3)) / 16;
  --max-size-4: (var(--max-size) * var(--max-scale-3)) / 16;
  --step-4: calc(
    (
      (var(--min-size-4) * 1rem) + (var(--max-size-4) - var(--min-size-4)) *
        var(--bp)
    )
  );

  --min-scale-5: var(--min-scale-4) * var(--min-ratio);
  --max-scale-5: var(--max-scale-4) * var(--max-ratio);
  --min-size-5: (var(--min-size) * var(--min-scale-4)) / 16;
  --max-size-5: (var(--max-size) * var(--max-scale-4)) / 16;
  --step-5: calc(
    (
      (var(--min-size-5) * 1rem) + (var(--max-size-5) - var(--min-size-5)) *
        var(--bp)
    )
  );

  --space--2: var(--step--2);
  --space--1: var(--step--1);
  --space-0: var(--step-0);
  --space-1: var(--step-1);
  --space-2: var(--step-2);
  --space-3: var(--step-3);
  --space-4: var(--step-4);
  --space-5: var(--step-5);

  --font-family-base: "Recursive", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-family-title: "Recursive", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;

  --font-size-base: var(--step-0);
  --font-size-xs: var(--step--2);
  --font-size-sm: var(--step--1);
  --font-size-lg: var(--step-1);
  --font-size-xl: var(--step-2);

  --line-height: calc(1ex / 0.32);
  --line-height-tight: calc(1ex / 0.56);

  --border-width-base: calc(var(--space--2) / 6);
  --border-width-chunky: calc(var(--space--2) / 3);
  --border-width-hefty: var(--space--2);

  --gap: var(--space-0);
  --gap-sm: var(--space--2);
  --gap-lg: var(--space-2);

  --border-radius-base: var(--space-0);
  --border-radius-xs: var(--space--2);
  --border-radius-sm: var(--space--1);
  --border-radius-lg: var(--space-1);
  --border-radius-xl: var(--space-2);

  --font-weight-base: 500;
  --font-weight-bold: 900;
  --font-weight-boldest: 1000;
  --font-weight-light: 375;

  --color-background: hsl(0, 7%, 94%);
  --color-text: hsl(0, 0%, 17%);
  --color-brand: hsl(357, 78%, 58%);
  --color-link: var(--color-brand);
  --color-border: var(--color-brand);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(0, 0%, 12%);
    --color-text: hsl(0, 7%, 94%);
    --color-brand: hsl(357, 80%, 60%);
  }
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  color: var(--color-text);
  background-color: var(--color-brand);
  font-weight: var(--font-weight-base);
  font-variation-settings: "MONO" 0, "CASL" 1, "CRSV" 1;
  font-style: oblique 0.2deg;
}

em {
  font-style: oblique 15deg;
}

strong {
  font-weight: var(--font-weight-bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  line-height: var(--line-height-tight);
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
  font-style: oblique 8.7deg;
  font-variation-settings: "MONO" 0, "CASL" 1, "CRSV" 1;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}
p {
  margin: 0 0 var(--line-height) 0;
}
a {
  color: var(--color-link);
  text-decoration: none;
  font-variation-settings: "CASL" 0, "CRSV" 0;
}

a:hover,
a:focus {
  text-decoration: underline;
}

blockquote {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: var(--gap-lg);
  padding-right: var(--gap-lg);
  margin: 0;
  background-image: url("quote-begin.svg"), url("quote-end.svg");
  background-size: auto var(--gap-lg);
  background-repeat: no-repeat;
  background-position: top left, top right;
}
